.container {
  margin: 1rem 5%;
}

.homeHeader,
.subheader {
  text-align: center;
}

.homeHeader {
  margin-bottom: 30px;
}

.subheader {
  margin: 30px 0 20px;
}

.listBox {
  width: 100%;

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}
