.listBox {
  width: 100%;
}

.listItem {
  display: flex;
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}

.listImage {
  position: relative;
  width: 35%;
  height: 220px;

  @media (max-width: 991px) {
    height: 130px;
  }

  img {
    border-radius: 8px 0 0 8px;
  }
}

.listText {
  padding: 5%;
  width: 65%;

  h3,
  p {
    margin: 0;
  }
}
