@import "./variables.scss";

.listBox {
  width: 100%;
}

.listItem {
  display: flex;
  margin-bottom: 30px;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 8px;
}

.listImage {
  position: relative;
  width: 35%;
  height: 220px;

  @media (max-width: $md) {
    height: 130px;
  }

  img {
    border-radius: 8px 0 0 8px;
  }
}

.listText {
  padding: 5%;
  width: 65%;

  h3,
  p {
    margin: 0;
  }

  h3 {
    margin-bottom: 5px;
  }
}

.moreLink {
  display: block;
  width: 100%;
  text-align: right;
  font-weight: 500;

  svg {
    position: relative;
    top: 2px;
  }
}
