.paginationBox {
  margin-bottom: 70px;
  float: right;
}

.paginationLink {
  padding: 5px 15px;
  height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #4e5463 !important;
  color: #fff;
}
