@import "./variables.scss";

.paginationBox {
  margin-bottom: 70px;
  float: right;
}

.paginationLink {
  padding: 5px 15px;
  height: 40px;
  border: 1px solid $border;
  border-radius: 8px;
  background-color: $main !important;
  color: $white;
}
